@font-face {
    font-family: 'ChosunGs';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#p1{
    color:red;
    /* text-decoration: line-through; */
    text-decoration: underline;

    font-family: "ChosunGs",Arial ;
}
#a1{
    text-decoration: none;
}

input[type=checkbox]:checked + span{
    text-decoration: line-through;
    color: gray;
}
.size{
    /* 보통 16픽셀이 기본사이즈임 */
    /* font-size: bigger; */
    /* font-size: 200%; */
    
    font-size: 2em;

}
.style1{
    font-style: italic;
}
em{
    font-style: normal;
}

.fw-100{
    font-weight: 100;
}
.fw-400{
    font-weight: 400;   /*400이 기준값*/
}
.fw-900{
    font-weight: 900;
}
.fw-2000{
    font-weight: 2000;
}
.fw-bold{
    font-weight: bold;
}

.align-right{
    text-align: right;
    border: 1px solid red;
}
.align-center{
    text-align: center;
    border: 1px solid red;
}
.align-right{
    text-align: right;
}
.align-justify{
    border: 1px solid red;
    text-align: justify;
}
.spacing{
    letter-spacing: 0.1em;
}
.lh {
    line-height:  200%;
}
.middle{
    border: 1px solid red;
    height: 100px;
    line-height:  100px;

    text-align: center;
}
.nowrap{
    white-space: nowrap ;
    border: 1px solid red;

    overflow: hidden;
    text-overflow: ellipsis;
}
.text{
    border: 1px solid red;
    width: 200px;    
}
.word-wrap{
    /* 한단어가 너무 길면 튀어 나가니까 단어중간에라도 엔터쳐주는역할 */
    word-wrap :break-word;
}
.word-break{
    word-break: break-all;
}